* {
    font-family:"inter",arial,sans-serif;
}

div {
    /* border: 0.1px solid rgb(255, 182, 182); */
}
:root {
    --moes1:#83909B; /* 自定义颜色 */
    --moes2: #c3ad8b;
    --ms-deeper:#252a36;
}

.square {
    aspect-ratio: 1/1;
}
.t-b-0 {
    font-weight: 600;
}
.t-b-1 {
    font-weight: 700;
}
.t-b-2 {
    font-weight: 800;
}
.t-b-3 {
    font-weight: 900;
}
.h2s {
    font-size:1.5rem;
}
.title-size-1 {
    font-size: 1.5rem;
}
.title-size-2 {
    font-size: 1.4rem;
}
.title-size-3 {
    font-size: 1.3rem;
}
.para-size-1 {
    font-size: 1rem;
}
.para-size-2 {
    font-size: 0.9rem;
}
.para-size-3 {
    font-size: 0.8rem;
}
.para-sub {
    font-size: 1rem;
    color:gray;
}

.dt-shipping {
    text-decoration: underline;
    font-size: larger;
    font-weight: 600;
    color: var(--ms-deeper);
}

.dt-calculated {
    padding-left: 1rem;
    font-size: smaller;
    color: var(--moes1);
}

.dt-price {
    font-size: 2rem;
    font-weight: 900;
    color: var(--moes2);
    line-height: calc(100%);
}
.dt-price-old {
    margin: 1rem;
    font-weight: 400;
    line-height: calc();
    font-size: 1rem;
    text-decoration-line: line-through;
}

.dt-price-off {
    color: red;
    font-weight: 800;
    line-height: calc();
    font-size: 1rem;
}

.list-normal {
    line-height: 1.5rem;
}
.t-footer {
    font-weight: 600;
    color: #4d61a1;
}
.t-menu {
    font-weight: 800;
    color: var(--moes1);
}

.nav-link {
    color:var(--moes1); /* 更改字体颜色为蓝色 */
  }
.nav-link:hover {
    color:var(--moes2); /* 更改鼠标悬停时的字体颜色为绿色 */
  }


.col {
    padding: 0;
    overflow: hidden;
}

.col ul {
    font-size: 0;
    white-space:nowrap;
    padding: 0;
    margin: 0px;
}

.col ul li {
    margin: 0%;
    padding: 0;
    display: inline-block;
    width: 25%;
}

.col ul li img {
    display: block;
}

@media screen and (max-width:768px) {
    .col ul li {
       width:33.3%;
    }
}

#thumbnail {
    width: 75%;
}

.selected {
    border:1px solid #252a36
}

.modal {
   position: relative;
}
.modal-content {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: auto;
    display: none;
}

.show {
    display:flex;
}


.dt-style-options {
    display: flex;
}
.bg-label {
    border-radius: 8px;
    text-align: center;
    padding-right:1rem;
    padding-left:1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
}

#White:checked + .bg-label{
    background-color: var(--moes2);
    color: white;
}

#Black:checked + .bg-label{
    background-color: var(--moes2);
    color: white;
}
#TRV:checked + .bg-label{
    background-color: var(--moes2);
    color: white;
}
#Zigbee:checked + .bg-label{
    background-color: var(--moes2);
    color: white;
}
#Multi-Mode:checked + .bg-label{
    background-color: var(--moes2);
    color: white;
}

.dt-sub-title {
    color:grey;
}

.bg-label>text {
    font-weight: 900;
}

.btn-addcart {
    display: flex;
    width: 100%;
    height: auto;
    background-color:var(--moes2);
    border: none;
    font-weight: 600;
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 1.5rem;
    padding:0.5rem;
}

.paypal {
    padding: 0px;
    background-color: #FFC520;
    width: 100%;
    height: auto;
}

.btn-paypal{
    background-color: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: none;
    border: none;
    outline: none;
}
.inputbox-buy {
    width:100%;
    border:none;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.li-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
    margin: 0px;
}

@media screen and (max-width:765px) {
    .li-list{
        font-size: 0.6rem;
        font-weight: 500;
    }
}

.li-list img {
    margin: auto;
    display: flex;
    padding-right: 1rem;
}

.li-list p{
    margin: 0;
}

.li-item {
    display: flex;
    align-items: center;
    
}

@media screen and (max-width:765px) {
    .li-item{
        display: block;
    }
    .li-list img {
        padding: 0rem;
    }
    
}

.twig-bottom img {
    border-radius: 20px;
}

.twig-text {
    font-size: 0.9rem;
    color: var(--moes1);
}

.img-left {

   
}

.img-right{
 
    display: flex;
    flex-direction: column;
    padding-left:30px ;
    align-content: space-around;
}

.img-right img {
    padding-top: 1rem;
}